*{
    margin: auto;
    padding: 0;
}
.content{
    background-color: #eff0f4;
    min-width: 320px;
    max-width: 1920px;
    width: 100%;
}
.header{
    width: 100%;
    height: 85px;
    background-color: #5fc0cd;
    font-size: 2em;
    color: white;
    line-height: 85px;
}
.table{
    width:100%;
    height: 100px;
    background-color: white;
    line-height: 118px;
    margin-top: 18px;
}

input::-webkit-input-placeholder {
    color: #c2c2c2;
    text-indent:1em;
    -webkit-transition: color.5s;
}
input:focus::-webkit-input-placeholder, input:hover::-webkit-input-placeholder {
    color: #999;
    -webkit-transition: color.5s;
}

.table input{width: 83.33%;
               height: 100px;
               float: left;
               border:0;
               outline:none;
               font-size: 2em;
}
.foot{
    width: 100%;
    height: 100px;
    background-color: #5fc0cd;
    font-size: 2.25em;
    color: white;
    line-height: 100px;
    float: left;
}

