@media screen and (max-width: 640px) {
    body {
        font-size: 70%;
    }
}
.word{
    line-height:160% ;
    max-width:100%;
    margin-left: 13.91%;
    margin-right:13.91%;
    margin-top: 12.09%;
    font-size:1.875em;color:white;
    width: 71.6%;
}
.id{
    margin-top: 5.469%;
    margin-left: 30.78%;
    margin-right: 40.63%;
    width: 28.3%;
    text-align: center;
}
.content{
    background-color: #68cdd5;
    min-width: 320px;
    max-width: 1920px;
    width: 100%;
    padding-bottom: 20.41%;;
    overflow: hidden;
}
.back{
    max-width: 100%;
    margin-left: 5.469%;
    width:8.4%;
    padding-top:1.982%;
}
.box1{
    margin-top: 17.54%;
    width:50%;
    font-size: 1.31em;
    color: white;
    text-align: center;
    float: right;

}
.box2{
    margin-top: 17.54%;
    width: 50%;
    font-size: 1.31em;
    color: white;
    text-align: center;
    float: left;
}

